@import "~antd/dist/antd.css";

.wrap {
  background-color: rgb(244, 244, 244);
  display: flex;
  text-align: center;
  justify-content: center;
  width: 75vw;
  min-width: 500px;
  height: 75vh;
  border-radius: 20px;
}

h1 {
  font-size: 20px;
  color: white;
  margin: 0;
  padding: 0;
}

.search {
  background: url(/public/img.jpg) no-repeat 20% 40% / cover;
  width: 50%;
  height: auto;
  border-radius: 20px;
}

.form {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 5px;
}

.info {
  width: 50%;
  padding: 5px;
  font-size: 1em;
  display: flex;
  flex-direction: column;
}

.navigation {
  margin: 5px 3px;
}

.nav_button {
  margin: 5px 3px;
  border: 2px solid black;
  background: transparent;
  font-family: inherit;
  color: black;
  border-radius: 5px;
  opacity: 0.5;
  transition: 0.3s;
}

.nav_button:hover {
  border: 2px solid #166a70;
  background-color: rgba(365, 365, 365, 0.5);
  cursor: pointer;
  color: #166a70;
  opacity: 0.8;
  transition: 0.3s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.active {
  border: 2px solid #1b7e85;
  border-radius: 5px;
  background-color: #1b7e85;
  cursor: pointer;
  color: white;
  opacity: 0.8;
  transition: 0.3s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  margin: 5px 3px;
}

.box_info {
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 10px gray;
  margin: 8px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 765px) {
  .wrap {
    display: block;
    min-width: 90vw;
    height: 98vh;
  }
  .search {
    width: 100%;
    padding-bottom: 8px;
    height: 21vh;
  }
  .info {
    width: 100%;
    height: 77vh;
  }
  .box_info {
     margin: 0 8px;
  }
}

@media (min-width: 1400px) {
  .form {
    font-size: 1.2vw;
  }
  h1 {
    font-size: 1.8vw;
  }
  .navigation {
    font-size: 1.1vw;
  }
  .nav_button, .active{
    margin: 7px 0.8vw;
  }

  .box_info {
    margin: 5px 15px;
  }
}
